.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.projContainer {
  display: flex;
  overflow-x: auto;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  width: 100%;
  color: #e6a10e;
  font-size: 3rem;
  padding: 20px;
  background-color: #0c2138;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #eaeaea;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

.card:hover,
.card:focus,
.card:active {
  color: #e6a10e;
  border-color: #e6a10e;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 2px;
  font-size: 0.9rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.image {
  max-width: 100%;
  min-height: 205px;
  margin: 5px;
  border: solid black 3px;
  border-radius: 10px;
}
.image:hover {
  cursor: pointer;
}
.tech {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  max-height: 112px;
  min-height: 112px;
  overflow-y: auto;
}
.tech::-webkit-scrollbar {
  display: none;
}
.ptitle {
  align-self: center;
  justify-self: center;
}
.techstack {
  display: none;
}
.techstack:hover {
  cursor: pointer;
  color: #e6a10e;
}
.modal {
  position: fixed;
  z-index: 1;
  top: 52%;
  left: 15%;
  background-color: #64656bec;
  width: 70%;
  height: 170px;
  overflow-y: auto;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .techstack {
    display: block;
    align-self: center;
    margin: 5px;
    border: solid #fffffd 1px;
    background-color: #0c2138;
    padding: 5px;
    border-radius: 10px;
  }
  .techstack:hover {
    border-color: #e6a10e;
    cursor: pointer;
  }
  .tech {
    display: none;
  }
  .techsModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    max-height: 250px;
    min-height: 112px;
    overflow-y: auto;
  }
}
